h1, h3, p{
  color: white;
}

body{
  background-color: #1b1b1bec;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.center_div{
  width: 65%;
  margin-bottom: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center_div p {
  text-align: center;
  font-weight: 500;
}

.inputs{
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-bottom: 1%;
}

.inputs input {
  width: 200px;
}

.about {
  margin-top: 3%;
  width: 50%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* TODO: CRIAR ESTILO PRO RESULTADO (div, ul, li, e p) */

#results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#results ul, li {
  display: flex;
  flex-direction: column;
}

a{
  color: #77a1f3;
}